<%- include('partials/_head.ejs') %>
<section>
	<h1>
		<span>Super secret thief page ! <%= name %></span>
	</h1>
</section>
	<section>
		<main>
			<div class="door">
			</div>
			<% if(imagePath){ %>
				<img src="http://localhost:3000/<%= imagePath%>" alt="">
			<% } %>
		</main>
	</section>
	<section>
		<% if(!name){ %>
			<h1>yo yo yo</h1>
			<form action="/login" method="POST" autoComplete="off">
				<label for="email">Email address:</label>
				<input type="email" name="email" placeholder="Enter your email">
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Enter your password">
				<button type="submit">Open the vault!</button>
			</form>
		<% } %>

		<% if(name){ %>
			<form action="/logout" method="POST" autoComplete="off">
				<button type="submit">Close the vault!</button>
			</form>
		<% } %>
	</section>
	</body>

	</html>
