<%- include('partials/_head.ejs') %>
<section>
	<h1>
		<span>Super secret thief page registration!</span>
	</h1>
</section>
	<section>
			<form action="/register" method="POST" autoComplete="off">
				<label for="email">Email address:</label>
				<input type="email" name="email" placeholder="Enter your email">
				<label for="name">Name:</label>
				<input type="text" name="name" placeholder="Enter your name">
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Enter your password">
				<button type="submit">Create a vault!</button>
			</form>

	</section>
	</body>

	</html>
