#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  position: relative;
}

section.Message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.Toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}
