<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jokes!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>ALL THE JOKES :D</h1>
    </header>
    <main>
      <p>Joke #<%= joke.id %></p>
      <p>Q: <%= joke.question %></p>
      <p>A: <%= joke.answer %></p>
      <p>By: <%= joke.name %></p>

      <a href="/jokes">Go back to all jokes</a>
    </main>
  </body>
</html>
